@{
    ViewData["Title"] = "Admin Home Page";
    Layout = "~/Views/Home/_AdminLayout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        <h1 style="text-align:center">Welcome @ViewBag.Username to the Admin home Page</h1>
    </div>
</div>
