@{
    ViewData["Title"] = "User Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1 style="text-align:center">Welcome @ViewBag.Username to the User home page</h1>
    </div>
</div>
