@model MemberPortal.Models.MockDatabase

@{
    ViewData["Title"] = "SubmitClaim";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveClaim" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <input asp-for="MemberID" class="form-control" />
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PolicyID" class="control-label"></label>
                <input asp-for="PolicyID" class="form-control" />
                <span asp-validation-for="PolicyID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BenefitID" class="control-label"></label>
                <input asp-for="BenefitID" class="form-control" />
                <span asp-validation-for="BenefitID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalId" class="control-label"></label>
                <input asp-for="HospitalId" class="form-control" />
                <span asp-validation-for="HospitalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaimAmount" class="control-label"></label>
                <input asp-for="ClaimAmount" class="form-control" />
                <span asp-validation-for="ClaimAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitName" class="control-label"></label>
                <input asp-for="BenefitName" class="form-control" />
                <span asp-validation-for="BenefitName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
