@model MemberPortal.Models.MockDatabasePolicy

@{ ViewData["Title"] = "ViewPolicy";
    Layout = "~/Views/Home/_AdminLayout.cshtml";}


<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitViewPolicy" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="PolicyID" class="control-label"></label>
                <input asp-for="PolicyID" class="form-control" />
                <span asp-validation-for="PolicyID" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
